{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>{{title}}</h1>
<div class="wysiwyg"><p class="intro">At mono, we’re committed to protecting and respecting your privacy.</p>
<p>This Policy explains when and why we collect personal information about people who visit our website, how we use it, the conditions under which we may disclose it to others and how we keep it secure. It is a <strong>temporary for test purposes copy paste</strong> of https://www.ageuk.org.uk/help/privacy-policy/ as found via https://www.econsultancy.com/blog/69256-gdpr-how-to-create-best-practice-privacy-notices-with-examples.</p>
<p>We may change this Policy from time to time so please check this page occasionally to ensure that you’re happy with any changes. By using our website, you’re agreeing to be bound by this Policy.</p>
<p>Any questions regarding this Policy and our privacy practices should be sent by email to <a title="contact@mono.service" href="mailto:contact@mono.service">mono.service</a> or by writing to Customer Engagement, Av Richard Neybergh 17, 1020 Brussels. Alternatively, you can telephone 0800.</p>
<h2>Who are we?</h2>
<p>We’re mono, Europe's first charity dedicated to helping you exercise your Data Protection rights. mono is not registered yet.</p>
<h2>How do we collect information from you?</h2>
<p>We obtain information about you when you use our website, for example, when you upload data from a data collector.</p>
<h2>What type of information is collected from you?</h2>
<p>The personal information we collect might include your name, address, email address, information regarding what pages are accessed and when, location history, see Google, Microsoft... </p>
<h2>How is your information used?</h2>
<p>We exclusively use your information to:</p>
<ul>
<li>notify you of changes to our services;</li>
<li>let you analyze data collectors hold on you;</li>
<li>let you log in.</li>
</ul>
<p>We review our retention periods for personal information on a regular basis. We will hold your personal information on our systems for as long as is necessary for the relevant activity, or as long as is set out in any relevant contract you hold with us.</p>
<h2>Who has access to your information?</h2>
<p>We will not sell or rent your information to third parties.</p>
<p>We will not share your information with third parties for marketing purposes.</p>
<h2>Your choices</h2>
<p>We will not contact you for marketing purposes by email.</p>
<h2>How you can access and update your information</h2>
<p>The accuracy of your information is important to us. You have access to all information we hold on you after you log in. If you need any assistance email us <a title="contact@mono.service" href="mailto:contact@mono.service">mono.service</a> or you can telephone 0800. You can access your information, export it and (physically) delete it, in what we think is a very user friendly way.</p>
<p>You have the right to ask for a copy of the information mono holds about you. You can download your data after you log in.</p>
<h2>Security precautions in place to protect the loss, misuse or alteration of your information</h2>
<p>When you give us personal information, we take steps to ensure that it’s treated securely. All information is encrypted and protected.</p>
<h2>Profiling</h2>
<p>We analyse your personal information to create a profile of your interests and preferences so that you can analyze information your data collectors hold on you. We may make use of additional information about you when it is available from external sources to help us do this effectively. We may also use your personal information to detect and reduce fraud and credit risk.</p>
<h2>Use of 'cookies'</h2>
<p>Like many other websites, mono uses cookies. 'Cookies' are small pieces of information sent by an organisation to your computer and stored on your hard drive to allow that website to recognise you when you visit. They collect statistical data about your browsing actions and patterns and do not identify you as an individual. For example, we use cookies to store your country preference. This helps us to improve our website and deliver a better more personalised service.</p>
<p>It is possible to switch off cookies by setting your browser preferences. For more information on how to switch off cookies on your computer, visit&nbsp;our full cookies policy. Turning cookies of may result in a loss of functionality when using our website.</p>
<h2>Links to other websites</h2>
<p>Our website may contain links to other websites run by other organisations. This privacy policy applies only to our website‚ so we encourage you to read the privacy statements on the other websites you visit. We cannot be responsible for the privacy policies and practices of other sites even if you access them using links from our website.</p>
<p>In addition, if you linked to our website from a third party site, we cannot be responsible for the privacy policies and practices of the owners and operators of that third party site and recommend that you check the policy of that third party site.</p>
<h2>16 or Under</h2>
<p>We are concerned to protect the privacy of children aged 16 or under. If you are aged 16 or under‚ please get your parent/guardian's permission beforehand whenever you provide us with personal information.</p>
<h2>Transferring your information outside of Europe</h2>
<p>As part of the services offered to you through this website, the information which you provide to us may be transferred to countries outside the European Union (“EU”). By way of example, this may happen if any of our servers are from time to time located in a country outside of the EU. These countries may not have similar data protection laws to the EU. By submitting your personal data, you’re agreeing to this transfer, storing or processing. If we transfer your information outside of the EU in this way, we will take steps to ensure that appropriate security measures are taken with the aim of ensuring that your privacy rights continue to be protected as outlined in this Policy.</p>
<p>If you use our services while you are outside the EU, your information may be transferred outside the EU in order to provide you with those services.</p>
<h2>Review of this Policy</h2>
<p>We keep this Policy under regular review. This Policy was last updated in November 2017.</p>
</div>
</div>
{% endblock %}
